:root {
  --el-background: rgba(189, 232, 193, 0.15);
}

body {
  font-family: sans-serif;
}

.ProseMirror *:hover {
  background: var(--el-background);
}

pre {
  padding: 10px;
  background: rgb(230, 230, 218);
}
